**__pycache__/
scratch/
**/scratch/
*.egg-info/
**build/
**dist/
# **results/
results/*
runs/*
outputs/*
json/*
json_prev_*/
plots/*
data/TritonBench/
visualizations/*
cache/*
!results/timing/
.env
venv
.venv
.DS_Store
.cursor
test_build/
